.swiper {
  width: 100%;
  padding: 2rem 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: var(--dark-accent);
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  color: var(--dark-accent);
}

.swiper-pagination-bullet-active {
  background: var(--dark-accent);
}

.recipe-card {
  text-align: center;
  background: var(--main-bg);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
}

.recipe-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.recipe-description {
  margin-bottom: 1.5rem;
  font-size: 16px;
  color: var(--text);
}

.recipe-step {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.recipe-step h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--green);
  margin-bottom: 0.5rem;
}

.recipe-step p {
  color: var(--text);
  white-space: pre-line;
}

.step-number {
  font-weight: bold;
  margin-right: 0.5rem;
  color: #555;
}

.favorite-btn {
  width: 50px;
  background-color: transparent;
  border: 1px solid var(--dark-accent);
}
