form {
  text-align: center;
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #555;
}

.form-field input {
  width: 20rem;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  transition: border 0.3s ease;
}

.form-field input:focus {
  border-color: var(--dark-accent);
  outline: none;
}

.account-button {
  display: block;
  margin-top: 20px;
}

.alert {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.alert-danger {
  background-color: #f8d7da;
  color: #842029;
}

.alert-success {
  background-color: var(--green);
  color: white;
}
